<% include ../partials/header %>

<div class="container">
    <form action='/categories' method="post">
        <input type="text" name="name" placeholder="Enter Category Name">
        <button type="submit">Add Category</button>
    </form>
</div>

<% include ../partials/footer %>