<% include partials/header %>

<div class="container">
    <h1>Sign up to start posting on ShareLyfe</h1>
    <form action="/register" method="post" onsubmit="return validateForm()">
        <div class="form-group">
            <input type="text" placeholder="First Name" name="firstName" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Last Name" name="lastName" class="form-control">
        </div>
        <div class="form-group">
            <input type="email" placeholder="E-mail address" name="email" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Phone Number" name="phoneNumber" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Please create a username" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="password" placeholder="Please create a password" name="password" class="form-control">
        </div>
        
        <input id="terms-conditions" type="checkbox" name="terms-conditions">
        <label for="terms-conditions">I agree to the <a href="/terms">Terms and Conditions</a></label>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<% include partials/footer %>