/*entire app styles*/

html, body {
    height: 100%;
}
/*entire app styles*/


/*nav bar styles*/
.navbar-light .navbar-nav .nav-link {
    color: black;
}

#blend {
    border: none;
    background: inherit;
}
/*nav bar styles*/

/*landing page styles*/

.space-boxes {
    margin: 0 10px;
}

.home-page {
    margin-top: 5%;
}

.catch-phrase {
    text-align: center;
}

.categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.one-category {
    background-color: #3399ff;
    /*padding: 60px;*/
    width: 23%;
    margin: 5px 1%;
}

.one-category a {
    color: white;
}

.posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.one-post {
    width: 30%;
    margin: 0 1.66%;
}

/*landing page styles*/

/*show view: posts*/
.buttons {
    display: inline-block;
    padding: 5px;
}

.img-height {
    max-height: 500px;
}

/*media queries */

@media screen and (max-width: 500px) {
    .one-post {
        width: 45%;
        margin: 0 2.5%;
    }
}

/*media queries */