/*entire app styles*/

html, body {
    height: 100%;
}
/*entire app styles*/


/*nav bar styles*/
.navbar-light .navbar-nav .nav-link {
    color: black;
}

#blend {
    border: none;
    background: inherit;
}

.category-btn {
    margin-left: 10px;
}
/*nav bar styles*/

/*landing page styles*/

.space-boxes {
    margin: 0 10px;
}

.home-page {
    margin-top: 5%;
}

.catch-phrase {
    text-align: center;
}

.categories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.one-category {
    background-color: #3399ff;
    /*padding: 60px;*/
    width: 23%;
    margin: 5px 1%;
}

.one-category a {
    color: white;
}

.posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.one-post {
    width: 30%;
    margin: 3% 1.66%;
}

.img-custom {
    width: 280px;
    height: 175px;
}

/*landing page styles*/

/*register page styles*/
.form-errors {
    padding: 10px;
    color: red;
}

/*register page styles*/

/* terms and conditions page */
.terms {
    text-align: center;
}

/*terms and conditions page*/

/*show view: posts*/
.buttons {
    display: inline-block;
    padding: 5px;
}

.img-height {
    max-height: 500px;
}

/*show view: posts*/

/*edit view: bookings*/

.date-required {
    color: red;
}

/*edit view: bookings*/

/*media queries */

/* 2 imgs per line when browser screen bets below 770px */
@media screen and (max-width: 770px) {
    .one-post {
        width: 45%;
        margin: 6.5% 2.5%;
    }
}

/* one img per line when smaller than 450px */
@media screen and (max-width: 450px) {
    .one-post {
        width: 90%;
        margin: 6.5% 5%;
    }
}
/*when browser width gets smaller than 990px, img height is smaller */
@media screen and (max-width: 990px) {
    .img-custom {
        height: 150px;
    }
}



/*media queries */