<% include partials/header %>

<h1 class="terms">Terms and Conditions</h1>

<div class="container">
    <p>
        By agreeing to these terms, you acknowledge that Kimberly Veloz
        (doing business as "ShareLyfe") is not liable for damages resulting
        from rental arrangements entered into while using this website.
        Damages include, but are not limited to the following:
    </p>
    <ul>
        <li>Financial Damages</li>
        <li>Destruction of Property</li>
        <li>Physical Harm</li>
    </ul>
    
</div>




<% include partials/footer %>