<% include ../partials/header %>

    <div class="container">
        <h1>Profile for <%= user.firstName %></h1>
        
        <p><%= userBookings %></p>    
    </div>
    
<% include ../partials/footer %>