<% include ../partials/header %>

<div class="container">
    <form action="/categories/<%= category._id %>/posts" method="post">
        <div class='form-group'>
            <input type="text" name="post[title]" placeholder="Title" class='form-control'>
        </div>
        <div class='form-group'>
            <input type="text" name="post[description]" placeholder="Description" class='form-control'>
        </div>
        <div class='form-group'>
            <input type="text" name="post[image]" placeholder="Image" class='form-control'>
        </div>
        <div class='form-group'>
            <input type="text" name="post[price]" placeholder="Price" class='form-control'>
        </div>
        
        <button type="submit" class="bth btn-primary">Post</button>
    </form>
</div>



<% include ../partials/footer %>